---
import { Link, Section } from '/src/components';
import Layout from '/src/layouts/Layout.astro';
import Util from '/src/config/Util';
import { app, args, assets, img, route } from '/src/config/view';
const pageArgs = {};
app.init(Astro, pageArgs);
---

<Layout>
  <div class="content-inner">
    <Section heading="Discord サーバー hackbrew.dev" id="discord" lv="2">
      <Fragment slot="section-child">
        <p>hackbrew.dev では Discord サーバー上にコミュニティを用意しています。</p>
        <p>Web 開発に関わる情報技術全般の意見交換をしたい方、特に運営者の専門領域である HTML, CSS, JavaScript, Vue, React, Astro, PHP, Laravel, Web サーバー構築あたりの話を中心に Web アプリケーション開発手法の質問・議論・意見交換をしたい方はぜひご参加ください。</p>
        <div class="mod-impact">
          <p><Link url="https://join.hackbrew.dev/" /> <span class="wbr">からご参加いただけます。</span></p>
        </div>
      </Fragment>
    </Section>
  </div>
</Layout>
