@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap");
:root {
  --primary-color: #ef97be;
  --primary-white25-color: #f3b1ce;
  --primary-white50-color: #f7cbdf;
  --primary-white70-color: #fae0ec;
  --primary-white80-color: #fceaf2;
  --primary-white90-color: #fdf5f9;
  --content-inner: 1080px;
  --font-sans-serif: Verdana, "M PLUS 1", sans-serif;
  --font-serif: "Noto Serif JP", serif;
  --font-monospace: Menlo, Monaco, "Courier New", Consolas, monospace;
  --font-verdana: Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
  background: var(--primary-white80-color);
  line-height: 1.5;
  font-family: var(--font-sans-serif);
  font-size: 1.6rem;
  overflow-wrap: anywhere;
}

a {
  color: #06f;
}
a:has(img) {
  display: inline-block;
}
a[href^="#"] {
  color: #039;
}
a[href^=http] {
  overflow-wrap: anywhere;
}
a:hover {
  text-decoration: none;
}

button {
  padding: 3px 6px;
  border: 1px solid #999;
  border-radius: 4px;
  background: #eee;
  color: inherit;
  font-weight: bold;
  font-size: 1.3rem;
}

img {
  height: auto;
  max-width: 100%;
}

img.border {
  outline: 1px solid #ccc;
}

strong {
  color: #900;
  font-style: normal;
  font-weight: bold;
}

em {
  font-style: normal;
  font-weight: bold;
}

small {
  font-size: 92%;
}

.wbr {
  display: inline-block;
}

.content-inner {
  max-width: var(--content-inner);
  margin-inline: auto;
  padding-inline: 10px;
}

#page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-width: 100dvw;
  min-height: 100dvh;
}

#page-header {
  line-height: 1.3;
}
#page-header .firstGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  border-bottom: 1px solid var(--primary-white50-color);
}
#page-header .firstGroup .siteName {
  order: 1;
  flex: 0 0 auto;
}
#page-header .firstGroup .globalNavArea {
  display: contents;
}
#page-header .firstGroup .globalNavArea .hatena-bookmark {
  order: 3;
  margin-left: auto;
}
@media screen and (width < 769px) {
  #page-header .firstGroup .globalNavArea .hatena-bookmark {
    order: 2;
  }
}
#page-header .firstGroup .globalNavArea .globalNav {
  order: 2;
  flex: 1 0 auto;
}
@media screen and (width < 769px) {
  #page-header .firstGroup .globalNavArea .globalNav {
    order: 3;
    flex-basis: 100%;
  }
}
#page-header .firstGroup .globalNavArea .globalNav > ul {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  border-radius: 8px;
}
@media screen and (width < 501px) {
  #page-header .firstGroup .globalNavArea .globalNav > ul {
    max-width: 240px;
  }
}
#page-header .firstGroup .globalNavArea .globalNav > ul > li {
  width: 160px;
}
@media screen and (width < 501px) {
  #page-header .firstGroup .globalNavArea .globalNav > ul > li {
    flex-basis: 100%;
    width: auto;
  }
}
#page-header .firstGroup .globalNavArea .globalNav > ul > li:nth-child(odd) a {
  background: #000;
}
#page-header .firstGroup .globalNavArea .globalNav > ul > li:nth-child(even) a {
  background: #333;
}
#page-header .firstGroup .globalNavArea .globalNav > ul > li a {
  box-sizing: border-box;
  display: block;
  padding: 8px 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-serif);
}
#page-header .firstGroup .globalNavArea .globalNav > ul > li a:hover {
  background: #666;
  color: var(--primary-color);
}

#page-footer {
  border-top: 1px solid var(--primary-white50-color);
  background: var(--primary-white70-color);
}
#page-footer .contentArea {
  padding: 4px 8px 8px;
}
#page-footer .contentArea .copyright {
  padding-top: 4px;
  text-align: center;
  font-family: var(--font-verdana);
  font-size: 1.4rem;
}
#page-footer .contentArea .copyright img {
  margin-top: -4px;
  vertical-align: middle;
}

#page-main {
  padding-bottom: 160px;
}
#page-main h1, #page-main h2, #page-main h3, #page-main h4, #page-main h5, #page-main h6 {
  font-weight: bold;
  font-family: var(--font-serif);
}
#page-main h2, #page-main h3, #page-main h4, #page-main h5, #page-main h6 {
  display: flex;
  flex-wrap: wrap;
}
#page-main :is(h2, h3, h4, h5, h6) a {
  padding-bottom: 4px;
  border-bottom: 2px dotted #333;
  color: inherit;
  text-decoration: none;
}
#page-main h1 {
  font-size: 3.2rem;
  text-align: center;
}
#page-main h2 {
  font-size: 3.2rem;
}
#page-main h3 {
  font-size: 2.4rem;
}
#page-main h4 {
  font-size: 1.8rem;
}
#page-main h5 {
  font-size: 1.6rem;
}
#page-main h6 {
  font-size: 1.6rem;
}
#page-main {
  counter-reset: num2 num3 num4 num5 num6;
}
#page-main h2 {
  counter-increment: num2;
  counter-set: num3 num4 num5 num6;
}
#page-main h3 {
  counter-increment: num3;
  counter-set: num4 num5 num6;
}
#page-main h4 {
  counter-increment: num4;
  counter-set: num5 num6;
}
#page-main h5 {
  counter-increment: num5;
  counter-set: num6;
}
#page-main h6 {
  counter-increment: num6;
}
#page-main :is(h2, h3, h4, h5, h6)::after {
  display: inline-block;
  margin-top: 8px;
  margin-left: 8px;
  color: #666;
  vertical-align: super;
  font-weight: normal;
  font-family: var(--font-verdana);
}
#page-main h2::after {
  font-size: 1.4rem;
}
#page-main h3::after {
  font-size: 1.2rem;
}
#page-main h4::after {
  font-size: 1.2rem;
}
#page-main h5::after {
  font-size: 1.2rem;
}
#page-main h6::after {
  font-size: 1.2rem;
}
#page-main h2::after {
  content: "#" counter(num2);
}
#page-main h3::after {
  content: "#" counter(num2) "-" counter(num3);
}
#page-main h4::after {
  content: "#" counter(num2) "-" counter(num3) "-" counter(num4);
}
#page-main h5::after {
  content: "#" counter(num2) "-" counter(num3) "-" counter(num4) "-" counter(num5);
}
#page-main h6::after {
  content: "#" counter(num2) "-" counter(num3) "-" counter(num4) "-" counter(num5) "-" counter(num6);
}
#page-main blockquote {
  margin-left: 20px;
  border-left: 4px solid #ccc;
  padding: 10px 20px;
}
#page-main blockquote > *:not(:first-child) {
  margin-top: 20px;
}
#page-main code {
  padding: 2px 4px;
  background: #ddd;
  font-family: var(--font-monospace);
}
#page-main dl .di:not(:first-child) {
  margin-top: 10px;
}
#page-main dl dt {
  font-weight: bold;
}
#page-main dl dd {
  margin-left: 20px;
}
#page-main figure figcaption {
  text-align: center;
  font-size: 1.4rem;
}
#page-main figure figcaption:first-child {
  margin-bottom: 10px;
}
#page-main figure figcaption:last-child {
  margin-top: 10px;
}
#page-main figure figcaption > *:not(:first-child) {
  margin-top: 10px;
}
#page-main figure .figure-item {
  width: fit-content;
  max-width: 100%;
  margin-inline: auto;
}
#page-main ul, #page-main ol {
  list-style: revert;
  margin-left: 36px;
}
#page-main .mod-section.lv-1 > .mod-section-header {
  margin-top: 30px;
}
#page-main .mod-section.lv-1 > .mod-section-body {
  margin-top: 10px;
}
#page-main .mod-section.lv-2 .mod-section-header {
  margin-top: 40px;
}
#page-main .mod-section.lv-2 .mod-section-body {
  margin-top: 30px;
}
#page-main .mod-section.lv-2 .mod-section-body .mod-section-child > * {
  margin-top: 20px;
  line-height: 1.8;
}
#page-main .mod-section .mod-section-body .mod-section-child.last {
  margin-top: 60px;
  border-top: 3px dotted var(--primary-white50-color);
}
#page-main .mod-image {
  text-align: center;
}
#page-main .mod-image img {
  border: 1px solid #999;
}
#page-main .mod-table {
  overflow: auto;
}
#page-main .mod-table table {
  width: fit-content;
  margin-inline: auto;
  border-collapse: separate;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #999;
  overflow-wrap: break-word;
}
#page-main .mod-table table.center td {
  text-align: center;
}
#page-main .mod-table table :is(th, td) {
  padding: 4px 8px;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #999;
}
#page-main .mod-table table thead th {
  background: #ddd;
}
#page-main .mod-table table th {
  text-align: center;
  font-weight: bold;
}
#page-main .mod-pre {
  position: relative;
  font-size: 1.4rem;
}
#page-main .mod-pre pre {
  overflow: auto;
  padding: 8px;
  border: 1px solid #f90;
  background: #ffc;
  line-height: 1.3;
  white-space: pre;
  font-family: var(--font-monospace);
}
#page-main .mod-pre pre.wrap {
  white-space: break-spaces;
  word-break: break-all;
  overflow-wrap: break-word;
}
#page-main .mod-pre:is(.bad, .good, .cool) pre {
  margin-top: 40px;
}
#page-main .mod-pre.bad pre {
  border-color: #900;
  background: #fcc;
}
#page-main .mod-pre.good pre {
  border-color: #090;
  background: #cfc;
}
#page-main .mod-pre.cool pre {
  border-color: #009;
  background: #cff;
}
#page-main .mod-pre::before {
  position: absolute;
  left: 0;
  bottom: 100%;
  padding: 2px 8px;
  border-width: 1px 1px 0;
  border-style: solid;
  line-height: 1.3;
  font-weight: bold;
  font-family: var(--font-monospace);
}
#page-main .mod-pre.bad::before {
  content: "Bad";
  border-color: #900;
  background: #f99;
}
#page-main .mod-pre.good::before {
  content: "Good";
  border-color: #090;
  background: #9f9;
}
#page-main .mod-pre.cool::before {
  content: "Cool";
  border-color: #009;
  background: #9ff;
}
#page-main .mod-note {
  padding: 2px 8px;
  border: 1px dashed #999;
}
#page-main .mod-note > *:not(:first-child) {
  margin-top: 10px;
}
#page-main .mod-impact {
  padding: 8px;
  border: 2px solid #900;
  border-radius: 8px;
  background: #ff9;
  text-align: center;
  font-size: 2rem;
}
