---
import { Link } from '/src/components';
import { img, route } from '/src/config/view';
---

<div class="content-inner">
  <div class="contentArea">
    <p class="copyright">
      <span class="wbr">Copyright 2025</span>
      <Link url={ route('/') }><img src={ img('global/hackbrewdev-logo.png') } alt="hackbrew.dev" width="64" height="36"></Link>
      <span class="wbr">Managed by <Link url="https://github.com/debiru/hackbrew.dev" label="GitHub" /></span>
    </p>
  </div>
</div>
